*{
  box-sizing: border-box;
}
body{
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.section{
  width: 49%;
}

#editor{
  width: 100%;
  height: 90vh;
  resize: none;
  border: 0;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  overflow: -moz-scrollbars-none;
}

#previewer{
  height: 90vh;
  padding: 0 2rem;
  text-align: left;
  background: #fff;
  color: #282c34;
  overflow-y: scroll;
}
#previewer pre{
  padding: .6rem;
  background: aliceblue;
  color: black;
  text-align: initial;
  font-size: 1.6rem;
}

#previewer code {
  white-space: break-spaces;
  font-size: 1rem;
}

#previewer img {
  width: 90%;
}

#previewer a img {
  width: auto;
}

.toolbar{
  background-color: orange;
  text-align: left;
  padding: .325rem 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
